<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.calvin.cs.kimprototypeapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="KIM Stocks" >
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="Stock Info" >
        </activity>
        <activity
            android:name=".AdminActivity"
            android:label="Administrator Tools" >
        </activity>
        <activity
            android:name=".PortfolioActivity"
            android:label="KIM" >
        </activity>
        <activity
            android:name=".TrainingActivity"
            android:label="Training Guide" >
        </activity>
        <activity
            android:name=".StockPitchActivity"
            android:label="Stock Pitch" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".AccountPostActivity"
            android:label="@string/title_activity_account_post" >
        </activity>
        <activity
            android:name=".StockPostActivity"
            android:label="@string/title_activity_stock_post" >
        </activity>
    </application>

</manifest>
